body {
    background: #0d1117;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border-radius: 12px;
    background: #161b22;
    border: 1px solid #30363d;
    color: white;
    font-size: 16px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: #238636;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background: #2ea043;
}

#outputBox {
    background: #161b22;
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #30363d;
}

pre {
    white-space: pre-wrap;
    font-size: 15px;
    color: #c9d1d9;
}

/* Loader Section */
.loader {
    text-align: center;
    margin: 20px 0;
}

.hidden {
    display: none;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #555;
    border-top-color: #238636;
    border-radius: 50%;
    margin: auto;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
